.scrollbar_hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar_hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.back_to_top {
  scroll-behavior: smooth;
  background-color: rgba(224, 248, 105, 0.5);
  border-radius: 0.5rem;
  transition: 0.2s ease-out;
}
.back_to_top span {
  color: #fff;
  font-size: 3rem;
  transition: 0.2s ease-out;
}

.back_to_top:hover {
  background-color: rgba(224, 248, 105, 0.5);
}
.back-to-top:hover span {
  transform: translateY(-4px);
}
